.side-nav-bar-content {
    flex: 1;

    .side-nav-bar-menu {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        font-size: 1.25em;
        margin-bottom: 32px;

        a {
            color: #000;
            text-decoration: none;
        }
    }
}